
services:
  postgres:
    image: postgres:latest
    container_name: postgres
    env_file:
      - src/main/resources/application-secret.properties
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - cadastro-net

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    env_file:
      - src/main/resources/application-secret.properties
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - cadastro-net

volumes:
  db_data:
    driver: local

networks:
  cadastro-net:
    driver: bridge
